<% provide(:title, "Checklists") %>
<% if logged_in?%>
 <div style="padding-top:20px;">
  <% @items.each do |item| %>
   
   <div class="row item">
    <% if item.completed?%>
        <div class="col-md-3">
        </div>
      
        <div class="col-md-4">
          <h3 style="opacity:0.5;" class="item-title"><strike><%= link_to item.title, item %></strike></h3>
          <p style="opacity:0.5;" class="item-sub-title item-desc"><%= item.description %></p>
          <p style="opacity:0.5;" class="time-ago item-sub-title"><%= time_ago_in_words(item.completed_at)%>前に作成した</p>
        </div>
        <div class="col-md-1">
          <p><%= link_to complete_item_path(item), method: :patch do %></p>
             <i class="fa fa-lf fa-check" ></i>
          <% end %>
        </div>
        <div class="col-md-1">
          <p><%= link_to item, method: :delete, data: { confirm: "本当によろしいでしょうか？" } do %></p>
             <i class="fa fa-lf fa-trash"></i>
          <% end %>
        </div>
        
        <div class="col-md-3">
        </div>
      
    <% else %>
        <div class="col-md-3">
        </div>
      
        <div class="col-md-4">
          <h3 class="item-title"><%= link_to item.title, item %></h3>
          <p class="item-sub-title item-desc"><%= item.description %></p>
          <p class="time-ago item-sub-title"><%= time_ago_in_words(item.created_at)%>前に作成した</p>
        </div>
        <div class="col-md-1">
          <p><%= link_to complete_item_path(item), method: :patch do %></p>
             <i class="fa fa-lf fa-check"></i>
          <% end %>
        </div>
        <div class="col-md-1">  
          <p><%= link_to item, method: :delete, data:{ confirm: "本当によろしいでしょうか？" } do %></p>
             <i class="fa fa-lf fa-trash"></i>
          <% end %>
        </div>
        
        <div class="col-md-3">
        </div>
        
    <% end %>
   </div>
    
  <% end %>
  </div>
  <!--<div><#%= link_to "New Item", new_item_path %></div>-->
<% end %>


