<% provide(:title, @item.title) %>
<h3><%= @item.title %></h3>
<p><%= @item.description %></p>

<%= link_to items_path do %>
<button type="button" class="btn btn-primary">戻る</button>
<% end %>
<%= link_to edit_item_path(@item) do %>
<button type="button" class="btn btn-success">編集</button>
<% end %>
<%= link_to item_path(@item), method: :delete, data: {confirm: "本当によろしいでしょうか？"} do %>
<button type="button" class="btn btn-danger">削除</button>
<% end %>
